{% extends 'tastegroup/layout.html' %}
{% load staticfiles %}
{% block content %}
    <div id="main" class="jumbotron" style="background-color:white; margin-top:15%">
      <!-- <img src="img/rests/01.png" style="width:75%; margin-left:12.5%">-->
      <center>
        <p>신촌 고기창고 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="tel:+821085990681"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
        </p>
        <a href="http://map.naver.com/?dlevel=11&pinType=site&pinId=11590700&x=126.935088&y=37.557929&enc=b64">위치</a>
        <label>:서울특별시 서대문구 연세로7길 34-4</label>
        <br>
        <label>지번 서울특별시 서대문구 창천동 52-78</label>
      </center>
    </div>
{% endblock content %}
