{% extends 'tastegroup/layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron" style="background-color:white; margin-top:15%">
      <div class="row" id='list'>
        <div class="col-xs-6" style="padding:10px; height:200px">
          <div class="listBox">
            <a href="detail">
              <img src="{% static 'img/rests/01.png' %}" style="width:100%;">
            </a>
          </div>
        </div>
        <div class="col-xs-6" style="padding:10px; height:200px">
          <div class="listBox">
            <a href="detail" class="list">
              <img src="{% static 'img/rests/01.png' %}" style="width:100%;">
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}